.scroll-section {
    position: relative;
    height: 150vh;
}

.sticky-container {
    position: sticky;
    top: 20%;
    display: flex;
    height: 70vh;
    align-items: center;
    overflow: hidden;
    padding-top: 1.5rem; /* Equivalent to py-6 */
    padding-bottom: 1.5rem; /* Equivalent to py-6 */
}
