.section_5_main_container{
    padding: 150px 0px 0px;
}

.section_5_main_container > span{
    text-transform: uppercase;
    font-size: 10px;
    color: #7DBDF8;
    display: flex;
    align-items: center;
    justify-content: center;
}

h4{
    background: radial-gradient(circle, #09C6DE, #460389);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
}
