.section_6_main_container{
    margin-top: 50px;
    padding: 0px 10px 50px;
    position: relative;
}


.section_6_glow_bg_container {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle, rgb(113, 98, 243) 50%, rgba(10, 10, 15, 0.1) 70%, #11121B 100%);
    border-radius: 0%;
    opacity: 1; 
    filter: blur(50px); 
}

.section_6_hero_text_container {
    z-index: 2; 
    text-align: center;
    position: relative;
}


.section_6_hero_text_container> span{
    font-size: 35px;
}
.section_6_hero_text_container> p{
    font-size: 13px;
    margin-top: 10px;
}

.section_6_btn {
    background: linear-gradient(to right, #09C6DE, #460389);
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 100px;
    cursor: pointer;
    font-size: 13px;
    margin-top: 15px;
  }


  @media only screen and (min-width: 1440px) and (max-width: 1440px) {
    
.section_6_hero_text_container> span{
    font-size: 45px;
}
.section_6_hero_text_container> p{
    font-size: 15px;
    margin-top: 10px;
}
  }