.section_3_container{
    text-align: center;
    padding: 70px 10px 10px;
}
.section_3_container > span{
    text-transform: uppercase;
    font-size: 10px;
    color: #7DBDF8;
}

.section_3_gradient_text {
    background: linear-gradient(to right, #09C6DE, #460389);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.section_3_cards_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap;
    gap: 10px;
}

.section_3_card{
    padding: 50px 20px 50px;
    width: 250px;
    height: 400px;
    backdrop-filter: blur(10px);
    background: rgba(91, 75, 114, 0.16);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(33, 32, 32, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section_3_card  > img{
    width: 170px;
}.section_3_card  > span{
    font-size: 14px;
    margin-top: 20px;
}.section_3_card  > p{
    font-size: 12px;
    margin-top: 10px;
}